body {
  background-color: black;
}
.searchquery {
  min-width: 30vw;
  font-size: 1.5rem !important;
  color: bisque;
  /* height: 20px !important; */
}
.icon {
  size: 2rem !important;
}
.mapWeather {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.map {
  margin-top: 40px;
  border-radius: 20px;
}
.weather_info {
  margin-top: 10px;
}
