body {
  color: white;
}
.weather-window {
  font-size: 20px;
  max-width: 30vw;
  margin: 10px 10px;
  /* background-color: darkslategrey; */
  height: 50vh;
  padding-left: 2em;
}
.othernames {
  display: flex;
  /* justify-content: space-between; */
}
.name-es {
  margin-left: 10px;
}
.hidden {
  display: none;
}
.othernames {
  margin-top: -10px !important;
}
